@import 'defaults.scss';
@import 'variables.scss';
@import 'mixins.scss';

.g-title {
  font-size: 28px;
  padding: 30px 0;
  color: var(--colorText);

  text-align: center;

  @include notDesktop {
    font-size: 30px;
  }
}

.g-subtitle {
  font-size: 30px;
  padding: 30px 0;
  color: var(--colorText2);

  &.center {
    text-align: center;
  }

  @include notDesktop {
    font-size: 30px;
  }
}

.g-wrapper {
  max-width: $breakpoint;
  padding: 0 40px;
  margin: 0 auto;
  width: 100%;
}

.g-btn {
  width: 100%;
  height: 60px;
  background-color: #4d684c;
  text-align: center;
  font-weight: bold;
  color: white;
  border-radius: 5px;
}
