---
import Layout from '@/layouts/Layout.astro'
---

<style>
  .g-wrapper {
    padding-top: 100px;

    p {
      padding: 20px 0;
    }
  }
</style>

<Layout title="Aviso legal">
  <div class="g-wrapper">
    <h1 class="g-title">Condiciones de uso de la web</h1>

    <p>
      <b>ALCANCE:</b><br />
      Estas Condiciones de Uso de la Web establecen las condiciones generales que regulan tanto el acceso, como la navegación, así como el uso
      de los contenidos de la presente web.<br />
      La información contenida en esta página web hace referencia a los servicios prestados por Psicologia Sant Adrià, SCP. La información publicada
      sólo es a efectos enunciativos y en modo alguno constituye una oferta vinculante que obligue al usuario a adquirir los servicios comercializados.
      Psicologia Sant Adrià, SCP se reserva el derecho de modificar la información aquí contenida cuando lo estime conveniente y sin previo aviso,
      no siendo responsable de la exactitud, insuficiencia o autenticidad de la información suministrada.<br />
      A su vez, se reserva el derecho a modificar el contenido del presente documento de Condiciones de uso de la web. Por tanto, el Usuario
      debe leer atentamente este documento en cada una de las ocasiones en que se proponga utilizar el sitio Web, ya que éste y sus condiciones
      de uso recogidas en las presentes Condiciones de uso de la Web pueden sufrir modificaciones.<br />
      La prestación del servicio de este sitio Web tiene una duración limitada al momento en el que el Usuario se encuentre conectado al sitio
      Web o a alguno de los servicios que a través de este se facilitan.
    </p>

    <p>
      <b>CONDICIONES DEL USO DE LA WEB:</b><br />
      Con el simple acceso, la navegación o la utilización de la página web, se tiene la condición de usuario. El usuario acepta de forma plena
      y sin ningún tipo de reserva las condiciones contenidas en las presentes Condiciones.<br />
      El usuario se compromete a utilizar el sitio web junto con sus servicios y contenidos, de forma lícita, de acuerdo con la legislación vigente,
      los usos generalmente aceptados, la buena fe y el orden público.<br />
      El usuario se compromete a no realizar acciones que puedan causar daños a la página web, inutilizándola, sobrecargándola o deteriorándola
      de cualquier manera, o impidiendo a los demás usuarios el libre acceso, utilización o disfrute de la página web.
    </p>

    <p>
      <b>PROPIEDAD INTELECTUAL Y USO DE CONTENIDOS:</b><br />
      Psicologia Sant Adrià, SCP es titular de los derechos de propiedad intelectual e industrial de esta página web y de todos sus contenidos
      (a título meramente enunciativo: cualquier marca o logo de Psicologia Sant Adrià, SCP, textos, fotografías y demás contenidos audiovisuales,
      software, diseño gráfico, etc.) o cuenta con la correspondiente licencia o autorización para su uso. El acceso a la navegación y el uso
      de este sitio web por parte del usuario no implican en ningún caso renuncia, transmisión, licencia ni cesión total o parcial de aquéllos.<br
      />
      Queda prohibido reproducir, modificar, reutilizar, explotar, comunicar públicamente, cargar archivos, enviar por correo, transmitir, usar,
      tratar o distribuir de cualquier forma la totalidad o parte de los contenidos incluidos en esta página web para propósitos públicos o comerciales,
      si no se cuenta con la autorización expresa y por escrito de Psicologia Sant Adrià, SCP.
    </p>

    <p>
      <b>ENLACES</b><br />
      <b>4.1. ENLACES A OTRAS PÁGINAS WEB EXTERNAS:</b><br />
      Psicologia Sant Adrià, SCP rechaza toda responsabilidad sobre toda información presente en la World Wide Web no elaborada por Psicologia
      Sant Adrià, SCP o no publicada bajo su nombre. La página web puede contener enlaces de hipertexto hacia otras páginas de la World Wide
      Web que son completamente independientes de esta página web. Psicologia Sant Adrià, SCP no responderá o garantizará, en modo alguno, la
      exactitud, insuficiencia o autenticidad de la información suministrada por cualquier persona o entidad, física o jurídica, con o sin personalidad
      jurídica propia, a través de dichos enlaces de hipertexto.
    </p>

    <p>
      <b>4.2. ENLACES EXTERNOS CON DESTINO A LA PÁGINA WEB DE Psicologia Sant Adrià, SCP:</b><br />
      Si cualquier otro sitio web, usuario o entidad, deseara establecer un enlace con destino a https://nomadpsicologia.com/, dicho enlace deberá
      someterse a las condiciones que a continuación se detallan:<br />
      El enlace irá dirigido a la página principal o a cualquiera de sus secciones. El enlace, en cualquier caso, debe ser absoluto y completo
      llevando al usuario con un solo clic a la URL de la página principal o a la URL de cualquiera de sus secciones. El enlace deberá abarcar
      toda la extensión de pantalla del portal de https://nomadpsicologia.com/. En ningún caso, salvo expresa autorización por escrito por parte
      de Psicologia Sant Adrià, SCP, el sitio web que establece el enlace podrá reproducir de cualquier manera https://nomadpsicologia.com/,
      incluyéndolo como parte integrante de su web, utilizando marcos, redireccionamientos o cualquier otra medida que suponga ocultar el origen
      de la información.<br />
      No se autoriza el establecimiento de enlace a https://nomadpsicologia.com/, desde sitios web que contengan contenidos ilícitos, ilegales,
      degradantes u obscenos, contraviniendo la moral o el orden público.
    </p>

    <p>
      <b>NORMAS DEL COMPORTAMIENTO DEL BLOG:</b><br />
      Si participas en nuestros blogs, debes respetar las siguientes reglas:<br />
      Al participar en los blogs de la Web eres el único responsable de los mensajes que difundas a través de aquellos, garantizando a Psicologia
      Sant Adrià, SCP la total indemnidad frente a cualquier reclamación que pudiera planteársele por tales conceptos.<br />
      En caso de que los mensajes contengan material protegido por derechos de propiedad intelectual o industrial, el Usuario garantiza que es
      su propietario o cuenta con la autorización del propietario para difundirlo en el blog. Y se exime a Psicologia Sant Adrià, SCP de cualquier
      reclamación de terceros que se planteara por tales conceptos.<br />
      El Usuario deberá, antes de publicar un comentario, elegir el blog apropiado. Aquellos mensajes que no se ajusten a la temática del blog
      podrán ser eliminados. Está totalmente prohibido publicar promociones y enlaces de ofertas comerciales, publicidad, material promocional,
      cartas cadena y cualquier actividad promocional directa o indirecta o cualquier otro tipo de comentario que no se ajuste al normal desarrollo
      de los temas de los blogs.<br />
      El Usuario debe ser tolerante y respetuoso con los mensajes y opiniones de los demás Usuarios. Se podrán suprimir aquellos mensajes que
      puedan ser considerados lesivos contra los derechos de terceros o que atenten contra el desarrollo pacífico de los blogs.
    </p>

    <p>
      <b>EXCLUSIÓN DE RESPONSABILIDAD:</b><br />
      La responsabilidad en el uso de este Sitio Web corresponde de forma única y exclusiva al Usuario.<br />
      Psicologia Sant Adrià, SCP no se hace responsable, en ningún caso, de los daños y perjuicios de cualquier naturaleza que pudieran causarse
      por:<br />
      La no disponibilidad, mantenimiento y funcionamiento del Sitio web o de sus servicios o contenidos, ya que requiere de suministros y servicios
      de terceros.<br />
      Los errores y omisiones en la información publicada, así como la falta de utilidad, adecuación o validez del sitio web o de sus servicios
      o contenidos para satisfacer necesidades, actividades o resultados concretos o expectativas de los Usuarios.
    </p>

    <p>
      <b>LEGISLACIÓN Y JURISDICCIÓN:</b><br />
      Las Condiciones de uso de la web se rigen en todos y cada uno de sus extremos por la ley española y el Reglamento General de Protección
      de Datos de la Unión Europea. Cualquier disputa que surja de asuntos relacionados con este sitio Web estará sujeta exclusivamente a la
      jurisdicción de los tribunales de la ciudad de Barcelona.
    </p>

    <p>
      <b>ACTUALIZACIÓN:</b><br />
      El documento se ha revisado por última vez en octubre de 2024.
    </p>
  </div>
</Layout>
