---
import Button from '@/components/details/Button.svelte'
import Layout from '@/layouts/Layout.astro'
---

<style lang="scss">
  .g-wrapper {
    padding-top: 100px;
    max-width: 800px;
    height: 100vh;

    p {
      text-align: center;
    }

    .go-back {
      display: flex;
      align-items: center;
      justify-content: center;

      padding: 50px 0;
    }
  }
</style>

<Layout title="Nomad Psicología | Gracies">
  <div class="g-wrapper">
    <h1 class="g-title">¡Gràcies per posar-te en contacte amb nosaltres!</h1>

    <p>
      Hem rebut el teu missatge i et respondrem el més aviat possible.<br /> Valorem molt la teva confiança i estem encantats de poder ajudar-te
      en el que necessitis.
      <br /><br />
      Mentrestant, et desitgem un molt bon dia i esperem poder parlar amb tu ben aviat!
    </p>

    <div class="go-back">
      <a href="/">
        <Button type="secondary">
          <span>Tornar a la página principal</span>
        </Button>
      </a>
    </div>
  </div>
</Layout>
