---
import MenuBasic from '@/components/details/MenuBasic.svelte'

export interface Props {
  title: string
}

const props = Astro.props
const title = props.title
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Som un equip de professionals apassionat, amb més de 15 anys d’experiència i un profund arrelament al nostre territori, compromesos a oferir un servei de màxima competència, adaptat a les realitats canviants de les persones."
    />
    <meta name="view-transition" content="same-origin" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/assets/cara_logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet" />
    <title>{title}</title>
    <style lang="scss">
      footer {
        height: 50px;
        margin-top: 50px;
        background-color: var(--colorBrand);

        .g-wrapper {
          display: flex;
          align-items: center;
          gap: 30px;
          height: 50px;
        }

        a {
          color: white;
          font-size: 14px;
        }
      }
    </style></head
  >

  <body>
    <MenuBasic client:load />

    <slot />

    <footer>
      <div class="g-wrapper">
        <a href="/avis-legal"> Avís legal </a>
        <a href="/politica-de-privacitat"> Política de privacitat </a>
      </div>
    </footer>
  </body>

  <style lang="scss" is:global>
    @import '@/sass/global.scss';
  </style>
</html>
